.dateSlider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 60px 70px 23px;

  @media screen and (max-width: 1435px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-left: 45px;
  }

  &Buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 63px;
  }

  &Button {
    padding: 0;
    color: #0167b3;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    font: 600 14px/1.28 'Raleway', sans-serif;

    &Opaque {
      opacity: 1;
    }
  }

  &RangeContainer {
    width: clamp(215px, 100%, 1270px);
    margin-top: 15px;

    @media screen and (max-width: 1435px) {
      width: clamp(215px, 100%, 100%);
    }
  }
}
